<div class="container" style="max-width: 100em;">
  <% @cards.each do |card| %>
      <a href="/sets/<%= card['set'] %>/<%= card['collector_number'] %>">
        <img class="img-fluid" style="margin: 0.75rem;" src="<%= card['image_uris']['small'] %>">
      </a>
  <% end %>
</div>

