<ul class="valign-wrapper container card-images">
  <% @cards.each do |card| %>
    <li class="responsive-img col s4" style="list-style: none;">
      <a href="/sets/<%= card['set'] %>/<%= card['collector_number'] %>">
        <img src="<%= card['image_uris']['small'] %></>
      </a>
    </li>
  <% end %>
</ul>